@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force dark mode styles */
:root {
  color-scheme: dark;
  --background: #000000;
  --foreground: #ffffff;
}

body {
  @apply bg-background text-foreground;
  font-family: "Inter", Helvetica, Arial, sans-serif;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none;
}
